services:
  postgres:
    image: postgres:15
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes: 
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:

